:root {
  --color0: #002b36;
  --color1: #93a1a1;
  --color2: #859900;
  --color3: #586e75;
  --bg-gif: url("Themes/solarized-dark/line.gif");
  --bg-img: url("Themes/solarized-dark/bg.jpg");
}

@font-face {
  font-family: 'IBM VGA';
  src: url('./Fonts/WebPlus_IBM_VGA_9x16.woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background-image: var(--bg-gif), var(--bg-img);
  background-attachment: fixed;
  background-repeat: repeat;
  background-position: right bottom;
  background-color: var(--color0);
  color: var(--color1);
  font-family: 'IBM VGA';
  font-size: 32px;
}

::selection {
  background-color: var(--color1);
  color: var(--color0);
}

.top_image img {
  border: 1px solid;
  border-color: var(--color3);
}
/*
.button_menu {
  border: 1px solid;
  border-color: var(--color2);
}
.button_menu input {
  border: 1px solid;
  border-color: var(--color2);
}
*/

/*Channel selector*/

/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  font-family: 'IBM VGA';
  font-size: 32px;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  color: var(--color0);
  background-color: var(--color1);
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: var(--color0) transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent var(--color0) transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: var(--color0);
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: var(--color3);
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

/*flex-box stuff here*/

.row {
	text-align: center;
	align-items: center;
  display: flex;
  flex-wrap: wrap;
	width: 50%;
	margin: auto;
	justify-content: space-around;
  font-size: 32px;
}
.main {
  font-family: 'IBM VGA';
  font-size: 32px;
  flex: 100%;
  background-color: var(--color0);
	color: var(--color1);
	border: 1px solid var(--color2);
  padding: 12px;
	height: 100%;
}
a {
 color: var(--color2); 
  font-family: 'IBM VGA';
  font-size: 32px;
}
p {
  font-family: 'IBM VGA';
  font-size: 32px;
}
